version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
    ignore:
      # Ignore Spring Boot major upgrades (do manually)
      - dependency-name: "org.springframework.boot:*"
        update-types: ["version-update:semver-major"]
